<style type="text/css">
    /* Định dạng cho banner hình ảnh */
    .banner {
        width: 100%;
        text-align: center;
    }

    .banner-image {
        width: 100%;
        max-width: 1200px; /* Giới hạn kích thước tối đa của ảnh */
        height: auto;
        border-radius: 10px;
    }
</style>
    <!DOCTYPE html >
    <html lang="en" >
    <head >
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title > Product Display</title >
    <link rel="stylesheet" href="~/css/test1.scss" >
        
    </head >
    
    <body>
        <p>Nam Thần: Mình thích lịch lãm, mà đồ trendy khó mặc quá!</p>
        <p>----YaMe: Ok, YaMe đơn giản rồi nè!</p>

        <div class="banner">
            <!-- Banner hình ảnh -->
            <div class="banner">
                <img src="https://cmsv2.yame.vn/uploads/909ff623-e04c-473d-834b-78ae4de4baac/BST_Non_Branded.jpg?quality=80&w=1280&h=0" alt="Banner Non Branded" class="banner-image" />
            </div>
            <div style="padding-top:10px;"></div>
            <div class="banner">
                <img src="https://cmsv2.yame.vn/uploads/551040fc-f477-4258-a5f1-f6e2391a8129/BST_SEVENTY_SEVEN_TRANG_CH%e1%bb%a6.jpg?quality=80&w=1280&h=0" alt="Banner Non Branded" class="banner-image" />
            </div>
            <div style="padding-top:10px;"></div>
            <div class="banner">
                <img src="https://cmsv2.yame.vn/uploads/9126cda4-f813-4131-b416-8801d485a5d5/BST_NO_STYLE_TRANG_CH%e1%bb%a6.jpg?quality=80&w=1280&h=0" alt="Banner Non Branded" class="banner-image" />
            </div>


        </div>
        <div style="padding-top:20px;"></div>
        <p>Nam Thần: Nam Thần: Đàn ông thì phải đơn giản mà vẫn 'sang'</p>
        <p>----YaMe: Đơn giản mà 'sang' ở đây</p>
        <div class=" banner">

            <div style="padding-top:20px;"></div>
            <div class="banner">
                <img src="https://cmsv2.yame.vn/uploads/026d42e4-e460-4e25-90a6-a502dec89c2b/BST_WRINKLE_FREE_TRANG_CH%e1%bb%a6.jpg?quality=80&w=1280&h=0" alt="Banner Non Branded" class="banner-image" />
            </div>
            <div style="padding-top:10px;"></div>
            <div class="banner">
                <img src="https://cmsv2.yame.vn/uploads/8f5f13ba-9939-4fd2-bb33-813b93b18288/BST_COOL_TOUCH_TRANG_CH%e1%bb%a6.jpg?quality=80&w=1280&h=0" alt="Banner Non Branded" class="banner-image" />
            </div>
            <div style="padding-top:10px;"></div>
            <div class="banner">
                <img src="https://cmsv2.yame.vn/uploads/676ec969-00b1-4de3-9ba3-c8520d2448c1/BST_JEAN_M%e1%bb%80M_TRANG_CH%e1%bb%a6.jpg?quality=80&w=1280&h=0" alt="Banner Non Branded" class="banner-image" />
            </div>
        </div>


    </body>
    </html >
